/* body {
  background-color: #ffffff;

  padding-left: 108px;
  padding-right: 108px;
} */
/* 
.header,
.list-links,
.nav {
  display: flex;
  list-style-type: none;
}

.page-logo {
  margin-right: 262px;
  text-decoration: none;
}

.list-links {
  margin-left: 36px;
}

.link {
  margin-right: 12px;
} */
/* .nav-items {
  margin-left: 38px;
  text-decoration: none;
}
.nav-items > a,
.link > a {
  text-decoration: none;
} */

/* .cards {
  list-style-type: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: -24px;
}
.cards-item {
  list-style: none;
  width: 288px;
  height: 347px;
  border-bottom: solid 1px #8682b6;
  margin: 24px;
}

.qwe {
  background-color: #191247;
  width: 288px;
  height: 347px;
}

.qwe > p {
  margin: 0;
  padding: 0;
} */
