.container {
  margin: 0;
  padding-left: 12px;
  padding-right: 12px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: $mobile) {
    width: $mobile;
  }
  @media screen and (min-width: $tablet) {
    width: $tablet;
    padding: 18px 44px;
  }
  @media screen and (min-width: $desktop) {
    width: $desktop;
  }
}
