header .menu-box {
  margin-left: auto;
}

.menu-box {
  & > p {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.64;
    color: black;
  }

  @media screen and (min-width: $tablet) {
    display: none;
  }
}

.menu-button {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  align-items: center;
  font-family: 'Open Sans';
  color: #828283;
  fill: #aca9bb;

  &:focus,
  &:hover {
    fill: $accent-color;
    color: $accent-color;
  }
}

.menu-button .icon-cross {
  display: none;
}

.menu-button.is-open .icon-cross {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}

.menu-container {
  width: 100%;
  background-color: $background-color;

  &.is-open {
    display: block;
    z-index: 999;
    background-color: #e4e4ef;
  }

  @media screen and (max-width: 1023px) {
    display: none;
    position: absolute;
    top: 102%;
    left: 0;
    padding: 40px;
  }

  @media screen and (min-width: $tablet) {
    display: flex;
  }
}
