.list-item:nth-child(n + 7) {
  @media screen and (max-width: 1023px) {
    display: none;
  }
}

.section-stories > .list {
  @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: -12px;
  }

  & > .list-item {
    @media screen and (min-width: $tablet) {
      margin: 12px;
      width: 216px;
    }

    @media screen and (min-width: $desktop) {
      width: 280px;
    }

    & img {
      @media screen and (min-width: $tablet) {
        width: 216px;
      }
      @media screen and (min-width: $desktop) {
        width: 280px;
      }
    }
  }
}

.section-stories > .section-title {
  font-family: $secondary-text-family;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.3;
  color: $title-text-color;
}

.section-stories .list-item:not(:last-child) {
  margin-bottom: 16px;
}

.list-item {
  border-bottom: solid 1px #8682b6;

  @media screen and (max-width: 1023px) {
    height: 315px;
  }
}

.date {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.43;
  color: #828283;
}

.subtitle {
  font-family: 'Nexa';
  font-weight: 700;
  font-size: 18px;
  line-height: 1.44;

  color: $primary-text-color;
}

.item-btn {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.85;

  color: #f8306b;
}

.loadMore-btn {
  display: block;
  font-family: 'Open-Sans';
  font-weight: 700;
  font-size: 12px;
  text-align: center;
  text-transform: uppercase;

  color: $background-color;
  background-color: #d1cfe4;

  padding: 12px 95px 12px 95px;
  border: none;
  margin: 32px 0 48px 0;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
}

.blue-bcg {
  background-color: #191247;
  height: 283px;
  border-radius: 6px;
  padding: 24px;
  height: 100%;
}

.bcg-item {
  border-bottom: 0;
}
