html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;

  background-color: $background-color;
  color: $primary-text-color;
  // font-family: $primary-text-family, serif;
  // letter-spacing: 0.03em;
  font-size: 18px;
  line-height: 1.34;
}

body.modal-open {
  overflow: hidden;
}

a {
  text-decoration: none;
}

img {
  display: block;
  // max-width: 100%;
  height: auto;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}
h2,
h3 {
  color: $title-text-color;
}
ul {
  padding: 0;
}
li {
  list-style-type: none;
}

// .padding {
//   padding-top: 60px;
//   padding-bottom: 60px;

//   @media screen and (min-width: $desktop) {
//     padding-top: 94px;
//     padding-bottom: 94px;
//   }
// }
